<div class="form">

  <input 
    placeholder="Título"
    [(ngModel)]="novoTitulo"
  />

  <input 
    placeholder="Descrição"
    [(ngModel)]="novaDescricao"
  />

  <select [(ngModel)]="novaPrioridade">
    <option [value]="1">Alta</option>
    <option [value]="2">Média</option>
    <option [value]="3">Baixa</option>
  </select>

  <button (click)="criar()">
    Criar Card
  </button>

</div>
<div class="board">

  <div class="column"
     cdkDropList
     #todoList="cdkDropList"
     [cdkDropListData]="todo"
     [cdkDropListConnectedTo]="[doingList, doneList]"
     (cdkDropListDropped)="drop($event,'TODO')">

  <h2>TODO</h2>

  <div class="card"
       *ngFor="let card of todo"
       cdkDrag
       [cdkDragData]="card">

    <h4>{{card.titulo}}</h4>
    <p>{{card.descricao}}</p>

  </div>

</div>

  <div class="column"
     cdkDropList
     #doingList="cdkDropList"
     [cdkDropListData]="doing"
     [cdkDropListConnectedTo]="[todoList, doneList]"
     (cdkDropListDropped)="drop($event,'DOING')">

  <h2>DOING</h2>

  <div class="card"
       *ngFor="let card of doing"
       cdkDrag
       [cdkDragData]="card">

    <h4>{{card.titulo}}</h4>
    <p>{{card.descricao}}</p>

  </div>

</div>

  <div class="column"
     cdkDropList
     #doneList="cdkDropList"
     [cdkDropListData]="done"
     [cdkDropListConnectedTo]="[todoList, doingList]"
     (cdkDropListDropped)="drop($event,'DONE')">

  <h2>DONE</h2>

  <div class="card"
       *ngFor="let card of done"
       cdkDrag
       [cdkDragData]="card">

    <h4>{{card.titulo}}</h4>
    <p>{{card.descricao}}</p>

  </div>

</div>